
.app__findus_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.app__findus_img img {
    width: 140%;
    margin: 5rem 15rem 18rem 5rem;
}

.app__findus-link a:hover {
    color: var(--color-gray);
}

.app__findus-whatsapp {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.app__findus-whatsapp img {
    width: 5%;
    margin-right: 0.5rem;
}

@media screen and (max-width: 1300px) {
    .app__findus_img img {
        display: none;
    } 
}

@media screen and (max-width: 550px) {
    .app__findus-whatsapp img {
        width: 8%;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .app__findus-whatsapp img {
        width: 12%;
        margin-right: 0.5rem;
    }
}

