.app__findus_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.app__findus_img img {
    width: 155%;
    margin: 5rem 16rem 18rem 5rem;
}


@media screen and (max-width: 400px) {
    .app__findus_img img {
        width: 170%;
        margin: 0rem 6rem 0 5rem;
    }
}