.app__findus_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.app__findus_img img {
    width: 150%;
    margin: 5rem 15rem 18rem 5rem;
}

.app__findus-link a:hover {
    color: var(--color-gray);
}

@media screen and (max-width: 1300px) {
    .app__findus_img img {
        display: none;
    } 
}

