.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 1rem 1rem;
}

h1 {
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
}

.app__navbar-links {
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.app__navbar-logo img {
    margin: 2rem 4rem 1rem 1rem;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    color: var(--color-grey)
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 3rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.app__navbar-login a:hover {
border-bottom: 1px solid var(--color-golden);
}

 .app__navbar-login div {
    width: 1px;
    height: 30px;
    background-color: var(--color-grey)
}

.app__navbar-smallscreen {
    display: none;
}


.app__navbar-smallscreen_overlay {
    position: fixed;
    align-items: center;
    padding: 10rem 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* means entire height of screen */
    background: var(--color-black);
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5; /* means overlay covers entire screen */
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 100%;

}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base)

}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-white);
}

@media screen and (max-width: 2000px) {

    .app__navbar {
        padding: 1.5rem 2rem 1rem 2rem;
    }
    .app__navbar-logo img {
        width: 200px;
    }

    h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1280px) {

    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1030px) {
    .app__navbar {
        padding: 1.5rem 3.5rem 1rem 2rem;
    }

    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }

    .app__navbar-smallscreen_overlay .overlay__close {
        top: 55px;
        right: 130px;
    }

    h1 {
        font-size: 2.5rem;
    }


    .app__navbar-logo img {
        width: 150px;
        margin: 2rem 0rem 1rem 0rem;
    }
}

.app__findus-link a:hover {
    color: var(--color-gray);
}


@media screen and (max-width: 950px) {
    .app__navbar {
        padding: 1rem 4rem 1rem 3rem;
    }

    .app__navbar-logo img {
        width: 130px;
        margin: 2rem 1rem 1rem 0rem;
    }

    .app__navbar-smallscreen_overlay {
        padding-top: 25rem;
    }
}

@media screen and (max-width: 900px) {
    .app__navbar {
        padding: 1rem 3rem 1rem 3rem;
    }

    .app__navbar-login {
        display: none;
    }

    h1 {
        font-size: 2.2rem;
    }

}

@media screen and (max-width: 830px) {
    .app__navbar {
        padding: 1rem 3.5rem 1rem 3rem;
    }

    .app__navbar-logo img {
        width: 270px;
        margin: 2rem 4.5rem 1rem 2rem;
    }
}

@media screen and (max-width: 800px) {
    .app__navbar {
        padding: 1rem 2.5rem 1rem 3rem;
    }

    .app__navbar-logo img {
        width: 250px;
        margin: 2rem 4.5rem 1rem 2rem;
    }
}

@media screen and (max-width: 550px) {
    .app__navbar {
        padding: 1rem 2.5rem 1rem 2.5rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 150px;
        margin: 2rem 3rem 1rem 2rem;
    }

    .app__navbar-smallscreen_links li {
        text-align: center;
        padding-right: 3rem;
    }
}


@media screen and (max-width: 420px) {
    .app__navbar {
        padding: 1rem 10rem 2.5rem 2.5rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 80px;
        margin: 2rem 1rem 1rem 1rem;
    }

    .app__navbar-smallscreen_links li {
        text-align: center;
        padding-right: 2.4rem;
    }

    .app__navbar-smallscreen_overlay .overlay__close {
        top: 50px;
        right: 70px;
    }
}

@media screen and (max-width: 400px) {
    .app__navbar {
        padding: 1rem 2rem 1rem 1.7rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 70px;
    }
    .app__navbar-smallscreen_overlay {
        height: 110vh;
      }

      .app__navbar-smallscreen_links li {
        text-align: center;
        padding-right: 2.4rem;
    }
}

@media screen and (max-width: 360px) {
    .app__navbar {
        padding: 1rem 2.5rem 1rem 1.3rem;
    }

    .app__navbar-logo img {
        width: 60px;
    }
}

@media screen and (max-width: 300px) {
    .app__navbar {
        padding: 1rem;
        flex-direction: column;
    }

    h1 {
        font-size: 1.3rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 130px;
    }

    .app__navbar-smallscreen_overlay {
      height: 130vh;
    }

    .app__navbar-smallscreen_links li {
        text-align: center;
        padding-right: 0.1rem;
    }
}