.app__specialMenu {
    flex-direction: column;
    background: var(--color-black);
}

.app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app__specialMenu-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.app__specialMenu-menu_heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    color: var(--color-white);
    text-align: center;
}

.app__specialMenu-menu_wine, .app__specialMenu-menu_cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__specialMenu-menu_img {
    width: 410px;
    margin: 0 2rem;
}

.app__specialMenu-menu_img img {
    width: 100%;
    height: auto;
}

.app__specialMenu_menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

.app__specialMenu-buttons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    flex-flow: row wrap;
}

.custom__button {
    margin: 1rem 1rem;
}

@media screen and (max-width: 2000px) {
    .app__specialMenu_menu_img {
        width: 650px;
    }

    .app__specialMenu-menu_img img {
        height: 650px;
    }
}

@media screen and (max-width: 1500px) {
    .app__specialMenu-menu_img {
        width: 410px; 
        margin: 10rem 4rem; 
     }

     .app__specialMenu-menu_img img {
        height: 500px; 
     }

     .app__specialmMenu-buttons {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: space-between;
        flex-flow: row wrap;
    }
}


@media screen and (max-width: 920px) {

    .app__specialMenu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app__specialMenu-title {
        text-align: left;
    }



    .app__specialMenu-menu_img {
        width: 650px;
        margin: 0rem 4rem 4rem 3rem;
    }

    .app__specialMenu-menu_img img {
        width: 100%;
        height: 880px;
    }

    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }

}

@media screen and (max-width: 550px) {
    .app__specialMenu-menu_img {
        width: 410px;
        margin: 0rem 4rem 4rem 4rem;
    }

    .app__specialMenu-menu_img img {
        width: 100%;
        height: 600px;
    }

}

@media screen and (max-width: 450px) {
    .app__specialMenu-menu_img {
        width: 300px;
        margin: 0rem 3.7rem 2rem 2rem;
}
.app__specialMenu-menu_img img {
    width: 100%;
    height: 440px;
}

.app__specialMenu-buttons {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

}


@media screen and (max-width: 400px) {
    .app__specialMenu-menu_img {
        width: 280px;
        margin: 2rem 3.5rem 2rem 2rem;
}

}

@media screen and (max-width: 300px) {
    .app__specialMenu-menu_img {
        width: 220px;
        margin: 0rem 2rem 2rem 2rem;

}

.app__specialMenu-menu_img img {
    width: 100%;
    height: 350px;
}
}