.app__overlay-smallscreen_overlay {
    position: fixed;
    align-items: center;
    padding-top: 25rem;
    max-height: 1270px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* means entire height of screen */
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5; /* means overlay covers entire screen */
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 100%;
}

.app__overlay-smallscreen_overlay::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}



.app__overlay-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}



.app__overlayMenu-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.app__overlayMenu-title {
    text-align: center;
}

 .app__overlayMenu-menu_heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 38px;
    line-height: 58.5px;
    color: var(--color-white);
    text-align: center; 
}

.app__overlayMenu-menu_champagnes, .app__overlayMenu-menu_sauvignons, .app__overlayMenu-menu_chenins, .app__overlayMenu-menu_chardonnays, .app__overlayMenu-menu_viogniers, .app__overlayMenu-menu_whiteblends, .app__overlayMenu-menu_pinots, .app__overlayMenu-menu_shirazes, .app__overlayMenu-menu_pinotages, .app__overlayMenu-menu_redblends, .app__overlayMenu-menu_dessertwines, .app__overlayMenu-menu_roses, .app__overlayMenu-menu_gins, .app__overlayMenu-menu_vodkas, .app__overlayMenu-menu_whiskeys, .app__overlayMenu-menu_brandies, .app__overlayMenu-menu_rums, .app__overlayMenu-menu_tequilas, .app__overlayMenu-menu_vermouths, .app__overlayMenu-menu_liqueurs, .app__overlayMenu-menu_beverages, .app__overlayMenu-menu_softs  {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__overlaylMenu-menu_img {
    width: 500px;
    height: 666px;
}

.app__overlayMenu-menu_img img {
    width: 100%;
    height: auto;
}

.app__overlayMenu_menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

.app__overlayMenu-left {
    padding: 0rem 2rem;
}

.app__overlayMenu-right {
    padding: 0rem 2rem;
}



@media screen and (max-width: 1100px) {
    .app__overlay-smallscreen_overlay {
        padding-top: 25rem;
        max-height: 1400px;
        height: 105vh; /* means entire height of screen */
    }

    .app__overlayMenu-menu {
        width: 110%;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 800px) {
    .app__overlay-smallscreen_overlay {
        padding-top: 52rem;
        max-height: 1300px;
        height: 105vh; /* means entire height of screen */
    }
}

@media screen and (max-width: 550px) {
    .app__overlay-smallscreen_overlay {
        padding-top: 45rem;
        max-height: 1800px;
        height: 105vh; /* means entire height of screen */
    }
 
     .app__overlayMenu-menu_heading {
        font-weight: 600;
        font-size: 32px;
        line-height: 10px;

    }

}

@media screen and (max-width: 420px) {
    .app__overlay-smallscreen_overlay {
        padding-top: 38rem;
        max-height: 1800px;
        height: 105vh; /* means entire height of screen */
    }
 
     .app__overlayMenu-menu_heading {
        font-weight: 600;
        font-size: 30px;
        line-height: 10px;

    }

}

@media screen and (max-width: 400px) {
    .app__overlay-smallscreen_overlay {
        padding-top: 37rem;
        max-height: 2500px;
        height: 105vh; /* means entire height of screen */
    }
 
     .app__overlayMenu-menu_heading {
        font-weight: 600;
        font-size: 26px;
        line-height: 2px;

    }

}

@media screen and (max-width: 300px) {
    .app__overlay-smallscreen_overlay {
        padding-top: 44rem;
        max-height: 3500px;
        height: 105vh; /* means entire height of screen */
    }
 
     .app__overlayMenu-menu_heading {
        font-weight: 600;
        font-size: 19px;
        line-height: 2px;

    }

}